html * {
  font-family: 'Lato', sans-serif;
}

html {
  margin: 0 auto;
}

.bcg-col272 {
  background-color: #272a31;
}

.cl272 {
  color: #272a31;
}

.cl524 {
  color: #ec5242;
}

.bcg-col524 {
  background-color: #ec5242;
}

.cld3 {
  color: #d3d3d3;
}

.bcg-cold3 {
  background-color: #d3d3d3;
}

.top-nav,
[class="float-right mb-0"],
.bottom-nav,
.bottom-nav-div1-2,
.bottom-nav-div1-3,
.section-title,
.see-whole,
.logos,
.logos-div {
  display: flex;
}

.top-nav {
  justify-content: flex-end;
}

.bottom-nav,
.bottom-nav-div1-2 {
  justify-content: space-between;
}

.bottom-nav {
  align-content: center;
}

.bottom-nav-div1-1,
.more {
  display: none;
}

.nav-link:hover {
  color: #ec5242;
}

.dropdown-toggle::after {
  visibility: hidden;
}

.section-title,
.see-whole,
.more,
.logos {
  justify-content: center;
}

@media (max-width: 754px) {
  .circle {
    top: -40px;
  }
}

@media (max-width: 768px) {
  .top-nav,
  .bottom-nav-div1-2,
  .bottom-nav-div1-3,
  .hidden-speakers {
    display: none;
  }

  .bottom-nav-div1-1,
  .more {
    display: flex;
  }

  .logos-div {
    display: block;
  }

  [class="text-with-bcg text-uppercase p-0 m-0"] {
    font-size: 47px;
  }
}
