@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

html * {
  font-family: 'Lato', sans-serif;
}

html {
  margin: 0 auto;
}

.bcg-col272 {
  background-color: #272a31;
}

.cl272 {
  color: #272a31;
}

.cl524 {
  color: #ec5242;
}

.bcg-col524 {
  background-color: #ec5242;
}

.cld3 {
  color: #d3d3d3;
}

.bcg-cold3 {
  background-color: #d3d3d3;
}

.top-nav,
[class="float-right mb-0"],
.bottom-nav,
.bottom-nav-div1-2,
.bottom-nav-div1-3,
.section-title,
.see-whole,
.logos,
.logos-div {
  display: flex;
}

.bottom-nav-div1-3 ul {
  list-style: none;
}

.top-nav {
  justify-content: flex-end;
}

.bottom-nav,
.bottom-nav-div1-2 {
  justify-content: space-between;
}

.bottom-nav {
  align-content: center;
}

.bottom-nav-div1-1,
.more {
  display: none;
}

.nav-link:hover {
  color: #ec5242;
}

.dropdown-toggle::after {
  visibility: hidden;
}

.section-title,
.see-whole,
.more,
.logos {
  justify-content: center;
}

.bgimg {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTchZ9riceevldA2IniBAo5Nfkw2z1mWtNZi43gI2Rh3ZstSUB6&usqp=CAU);
  background-size: cover;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.2;
}

.text-with-bcg {
  font-size: 70px;
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/918-9qlPA4L.png);
  background-size: contain;
  background-repeat: repeat;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}

.text-with-bcg:nth-child(4),
.text-with-bcg:nth-child(5) {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (max-width: 754px) {
  .circle {
    top: -40px;
  }
}

@media (max-width: 768px) {
  .top-nav,
  .bottom-nav-div1-2,
  .bottom-nav-div1-3,
  .hidden-speakers {
    display: none;
  }

  .bottom-nav-div1-1,
  .more {
    display: flex;
  }

  .logos-div {
    display: block;
  }

  [class="text-with-bcg text-uppercase p-0 m-0"] {
    font-size: 47px;
  }
}
